.btn {
    display: inline-block;
    padding: 12px 25px;
    font-family: $header-font;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;

    &-primary {
        background-color: $primary;
        color: #ffffff;

        &:hover {
            background-color: $primary-hover;
            color: #ffffff;
        }
    }
}
