@import url('https://fonts.googleapis.com/css?family=Lato:900i|Jaldi:400,700');

body {
    font-family: $main-font;
    margin: 0;
    color: $gray-80;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: normal;
    text-transform: uppercase;
}

a, a:hover, a:visited, a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main {
    &.has-sidebar {
        @include layout-flex(initial, flex-start);

        .main-section {
            flex: 1 0 66%;
            margin: 0 3% 0 0;
        }

        .sidebar {
            flex: 1 0 30%;
        }
    }
}
